[Desktop Entry]
Name=Gtk-ChTheme
GenericName=Theme Changer
Comment=GTK+2.0 Theme Changer
Exec=gtk-chtheme
Terminal=false
Type=Application
Icon=gtk-chtheme
Categories=Gtk;DesktopSettings;System;
